

.class-preview{
    border: 1px solid lightgrey;
    width: 100%;
    margin: 10px;
    padding-left: 20px;
    text-decoration: none;
}
.class-preview:hover{
    border: 1px solid lightgrey;
    width: 100%;
    margin: 10px;
    padding-left: 20px;
    text-decoration: none;
    background-color: lightgrey;
}

.page-header{
    font-size: 50px;
    height: 50px;
    margin-bottom: 20px;
}

a.no-underline{
    text-decoration: none;
    width: 80%;
}

.course-name{
    font-size: 30px;
}

.professor-name{
    font-size: 15px;
}

.padded-grey-box{
    border: 1px solid lightgrey;
    padding: 10px;
}

.welcome-message{
    font-size: 50px;
    text-align: center;
    margin-top: 24px;
}


.class-list{
    height: 400px;
    overflow-y: scroll;
}