{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Top banner with class name and professor -->
    <div class="col-md-12">
        <div class="row">
            <div class = "col-md-12">
                <span class="course-name">{{selected_class["course_name"]}}</span>&nbsp;
                <span class="professor-name">{{selected_class["professor_name"]}}</span>
            </div>
        </div>
        <!-- Class info -->
        <div class="row">
            <div class = "col-md-12">
                <div class = "padded-grey-box">
                    Course ID: {{selected_class["course_id"]}}<br>
                    Time: {{selected_class["start_time"]}} to {{selected_class["end_time"]}}<br>
                    Days: {{selected_class["days_of_week"]}} <br>
                    Semester: {{selected_class["semester_id"]}}
                </div>
            </div>
            
            
        </div>
    </div>
    <!-- Friends in the class -->
    <div class="col-md-6">
        <div class = "padded-grey-box">
            Your Status:
            <hr>
            {% if user_stat|length > 0 %} 
                {% if user_stat["on_waitlist"] %}
                        Waitlisted<br>
                        <form method="POST" action="{{url_for('dropClass')}}">
                            <button type="submit" name="selected_class" value="{{selected_class['class_id']}}" class="btn btn-danger">Drop Class</button>
                        </form>
                {% else %}
                        Registered<br>
                        <form method="POST" action="{{url_for('dropClass')}}">
                            <button type="submit" name="selected_class" value="{{selected_class['class_id']}}" class="btn btn-danger">Drop Class</button>
                        </form>
                {% endif %}
            {% else %}
                Not registered/waitlisted for this class.
                <form method="POST" action="{{url_for('addClass')}}">
                    <button type="submit" name="selected_class" value="{{selected_class['class_id']}}" class="btn btn-success">Add Class</button>
                </form>
            {%endif%}

        </div>
        <div class = "padded-grey-box">
            Friends in this Class
            <hr>
            {% if friends|length > 0 %} 
                {% for friend in friends %}
                    <div class="row">
                        <a class="no-underline"href = "{{url_for('studentID',studentID=friend['email'])}}" >
                            <div class="class-preview">
                                {{friend["first_name"]}} {{friend["last_name"]}} <br>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                None of your friends are taking this class.
            {%endif%}
        </div>
        
    </div>
    <!-- Majors fulfilled by the class -->
    <div class="col-md-6">
        <div class = "padded-grey-box">
            Prerequisite Courses
            <hr>
            {% if prerequs|length > 0 %}
                {% for course in prerequs %} 
                <div class="row">
                    <a class="no-underline"href = "{{url_for('courseID', courseID=course['prerequisite'])}}" >
                        <div class="class-preview">
                            {{course["prerequisite"]}} <br>  
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                No prerequisite courses listed.
            {%endif%}
        </div>
        <div class = "padded-grey-box">
            Majors that require this class
            <hr>
            {% if majors|length > 0 %} 
                {% for major in majors %}
                    <div class="row">
                        <a class="no-underline"href = "{{url_for('majorID', majorID = major['major_id'])}}" >
                            <div class="class-preview">
                                Major: {{major["name"]}} <br> 
                                Department: {{major["department"]}} <br>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                No majors require this class.
            {%endif%}
        </div>

    </div>
</div>



{% endblock %}