{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Top banner with class name and professor -->
    <div class="col-md-12">
        <div class="row">
            <div class = "col-md-12">
                <span class="course-name">{{classes[0]["course_name"]}}</span>&nbsp;
                <span class="professor-name">{{classes[0]["professor_name"]}}</span>
            </div>
        </div>
        <!-- Class info -->
        <div class="row">
            <div class = "col-md-12">
                <div class = "padded-grey-box">
                    <div class="col-md-8">
                        Course ID: {{classes[0]["course_id"]}}<br>
                        Time: {{classes[0]["start_time"]}} to {{classes[0]["end_time"]}}<br>
                        Days: {{classes[0]["days_of_week"]}} <br>
                        Semester: {{classes[0]["semester_id"]}}
                    </div>
                    <div class="col-md-4">
                        {% if user_stat|length > 0 %}
                            <button method="POST" action="/dropClass">
                                <p><input class_id={{classes[0]["class_id"]}}></p>
                            Drop</button>
                            <!--<a  class="btn btn-danger" href = "{{url_for('dropClass')}}">Drop</a>-->
                        {%else%}
                            <button method="POST" action="/dropClass">
                                <p><input class_id={{classes[0]["class_id"]}}></p>
                            Add</button>
                            <!--<a type="button" class="btn btn-primary" href = "{{url_for('addClass')}}">Add</a>-->
                        {%endif%}
                    </div>

                </div>
            </div>
            
            
        </div>
    </div>
    <!-- Friends in the class -->
    <div class="col-md-6">
        <div class = "padded-grey-box">
            Your Status:
            <hr>
            {% if user_stat|length > 0 %} 
                {% if user_stat["on_waitlist"] %}
                        Waitlisted<br>
                {% else %}
                        Registered<br>
                {% endif %}
            {% else %}
                Not registered/waitlisted for this class.
            {%endif%}
        </div>
        <div class = "padded-grey-box">
            Friends in this Class
            <hr>
            {% if friends|length > 0 %} 
                {% for friend in friends %}
                    <div class="row">
                        <a class="no-underline"href = "{{url_for('friendID',friendID=friend['email'])}}" >
                            <div class="class-preview">
                                {{friend["first_name"]}} {{friend["last_name"]}} <br>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                None of your friends are taking this class.
            {%endif%}
        </div>
        
    </div>
    <!-- Majors fulfilled by the class -->
    <div class="col-md-6">
        <div class = "padded-grey-box">
            Prerequisite Courses
            <hr>
            {% if prerequs|length > 0 %}
                {% for course in prerequs %} 
                <div class="row">
                    <a class="no-underline"href = "{{url_for('courseID', courseID=course['prerequisite'])}}" >
                        <div class="class-preview">
                            {{course["prerequisite"]}} <br>  
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                No prerequisite courses listed.
            {%endif%}
        </div>
        <div class = "padded-grey-box">
            Majors that require this class
            <hr>
            {% if majors|length > 0 %} 
                {% for major in majors %}
                    <div class="row">
                        <a class="no-underline"href = "{{url_for('majorID', majorID = major['major_id'])}}" >
                            <div class="class-preview">
                                Major: {{major["name"]}} <br> 
                                Department: {{major["department"]}} <br>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                No majors require this class.
            {%endif%}
        </div>

    </div>
</div>



{% endblock %}