{% extends "base.html" %}

{% block content %}

<div class = "page-header">
    Classes
</div>
<div class="row">

    <div class="col-md-5">
        Available classes for {{ semester }}
        <div class = "row">
            <div class = "col-md-12 class-list">
                {% for result in data %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('classID', classID=result['class_id'])}}" >
                        <div class="class-preview">
                            {{result["course_name"]}} <br>
                            {{result["course_id"]}} <br>
                            {{result["professor_name"]}} <br>
                            {{result["start_time"]}} <br>
                            {{result["end_time"]}} <br>
                            {{result["days_of_week"]}} <br>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>
    <div class="col-md-7">
        {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                {% for message in messages %}  
                    <div>{{ message }}</div>
                {% endfor %}  
            {% endif %}  
        {% endwith %} 
        <br>
        <div class="row">
            <form method="POST" action="/searchCourse/">
                <input type="hidden" name = "source" value = "classes">
                <p>Search classes by Course ID: <input type="text" name="name"></p>
            </form>
        </div>
        <div class="row">
            <form method="POST" action="/searchStudent/">
                <input type="hidden" name = "source" value = "classes">
                <p>Search classes by Friends's email: <input type="text" name="name"></p>
            </form>
        </div>
        <div class="row">
            <form method="POST" action="/searchProfessor/">
                <input type="hidden" name = "source" value = "classes">
                <p>Search classes by Prof ID: <input type="text" name="name"></p>
            </form>
        </div>
    </div>
</div>



{% endblock %}