{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Top banner with class name and professor -->
    <div class="col-md-12">
        <div class="row">
            <div class = "col-md-6 page-header">
                {{classes["course_id"]}}
            </div>
        </div>
    </div>
    <!-- Shared classes -->
    <div class="col-md-6">
        {% if classes|length > 0 %}
            {% for class in classes %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('classID', classID=class['class_id'])}}" >
                        <div class="class-preview">
                            {{class["course_name"]}} <br>
                            {{class["course_id"]}} <br>
                            {{class["professor_name"]}} <br>
                            {{class["start_time"]}} <br>
                            {{class["end_time"]}} <br>
                            {{class["days_of_week"]}} <br>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            No classes listed for {{classes["course_id"]}}.
        {%endif%}
    </div>
</div>

{% endblock %}