{% extends "base.html" %}

{% block content %}

<div class = "page-header">
    Courses
</div>
<div class="row">
    <div class="col-md-5">
        Available courses
        <div class = "row">
            <div class = "col-md-12 class-list">
                {% for result in data %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('courseID', courseID=result['course_id'])}}" >
                        <div class="class-preview">
                            {{result["name"]}}<br>
                            {{result["course_id"]}}<br>
                            {{result["department"]}}<br>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <form method="POST" action="/add">
                <p>Search classes by name: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by professor: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by friends: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by major: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
        </div>
        <div class="row">
            Search results go here
        </div>
    </div>
</div>

{% endblock %}