{% extends "base.html" %}

{% block content %}

<div class = "page-header">
    Courses
</div>
<div class="row">
    <div class="col-md-5">
        Available courses
        <div class = "row">
            <div class = "col-md-12 class-list">
                {% for result in data %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('courseID', courseID=result['course_id'])}}" >
                        <div class="class-preview">
                            {{result["name"]}}<br>
                            {{result["course_id"]}}<br>
                            {{result["department"]}}<br>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>
</div>

{% endblock %}