{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Top banner with class name and professor -->
    <div class="col-md-12">
        <div class="row">
            <div class = "col-md-6 page-header">
                {{result["course_id"]}}
            </div>
        </div>
    </div>
    <!-- Shared classes -->
    <div class="col-md-6">
        {% if result|length > 0 %}
            {% for class in result %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('classID', classID=result['class_id'])}}" >
                        <div class="class-preview">
                            {{result["course_name"]}} <br>
                            {{result["course_id"]}} <br>
                            {{result["professor_name"]}} <br>
                            {{result["start_time"]}} <br>
                            {{result["end_time"]}} <br>
                            {{result["days_of_week"]}} <br>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            No classes listed for {{result["course_id"]}}.
        {%endif%}
    </div>
</div>

{% endblock %}