{% extends "base.html" %}

{% block content %}

<h1>Friends Page</h1>
<div class="row">
    <div class="col-md-5">

        <div class = "page-header">
            Your Friends
        </div>

        {% for result in data %}
            <div class="row">
                <a class="no-underline" href = "{{url_for('friendID', friendId=result['email'])}}" >
                    <div class = "friend-preview">
                        {{result["email"]}}
                        {{result["first_name"]}}
                        {{result["last_name"]}}
                        {{result["graduating_class"]}}

                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-7">
        <div class="row">
            <form method="POST" action="/add">
                <p>Search classes by name: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by professor: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by friends: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
            <form method="POST" action="/add">
                <p>Search classes by major: <input type="text" name="name"> <input type="submit" value="Add"></p>
            </form>
        </div>
        <div class="row">
            Search results go here
        </div>
    </div>
  </div>

  <div>
    
  </div>



{% endblock %}