{% extends "base.html" %}

{% block content %}

  {% with messages = get_flashed_messages() %}  
      {% if messages %}  
          {% for message in messages %}  
              <p>{{ message }}</p>  
          {% endfor %}  
      {% endif %}  
  {% endwith %} 

  <div class = "row">
    <div class = "col-md-12">
      <div class = "welcome-message">Welcome to Class Finder</div>
      <div style = "text-align: center;">Add friends, pick your courses, and discover which classes you can take with your pals. </div>
    </div>
  </div>


{% endblock %}
