{% extends "base.html" %}

{% block content %}

{% if session['logged_in'] %}

    You're logged in already!

    {% else %}
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}  

    <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Log in">
    </form>
{% endif %}

{% endblock %}