{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Top banner with class name and professor -->
    <div class="col-md-12">
        <div class = "col-md-6 page-header">
            {{major["name"]}}
        </div>
    </div>
</div>

    <!-- Shared classes -->
    <div class="row">
        <div class="col-md-6">
            Available courses for {{major["name"]}}<br>
            {% if courses|length > 0 %}
                {% for course in courses %}
                    <div class="row">
                        <a class="no-underline"href = "{{url_for('courseID', courseID=course['course_id'])}}" >
                            <div class="class-preview">
                                {{course["name"]}} <br>
                                {{course["course_id"]}} <br>
                                {{course["department"]}} <br>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                No courses listed for {{major["name"]}}.
            {%endif%}
        </div>
        <div class = "col-md-6">
            {% if isDeclared%}
                You are currently declared for {{major["name"]}}

                <form method="POST" action="{{url_for('dropMajor')}}">
                    <button type="submit" name="major_id" value="{{major['major_id']}}" class="btn btn-danger">Drop Major</button>
                </form>

            {% else %}
                You are not declared for {{major["name"]}}

                <form method="POST" action="{{url_for('addMajor')}}">
                    <button type="submit" name="major_id" value="{{major['major_id']}}" class="btn btn-success">Add Major</button>
                </form>
            {% endif%}
        </div>
    </div>
</div>

{% endblock %}