{% extends "base.html" %}

{% block content %}

<div class = "page-header">
    Majors
</div>
<div class="row">
    <div class="col-md-5">
        {% for result in data %}
            <div class="row">
                <a class="no-underline"href = "{{url_for('majorID', majorID=result['major_id'])}}" >
                    <div class = "majors-preview">
                        {{result["name"]}} | {{result["department"]}} Department
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}