{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-5">

        <div class = "page-header">
            Your Classes
        </div>
            {% for result in data %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('classID', classID=result['class_id'])}}" >
                        <div class="class-preview">
                            {{result["course_name"]}} <br>
                            {{result["course_id"]}} <br>
                            {{result["semester_id"]}} <br>
                            {{result["professor_name"]}} <br>
                            {{result["start_time"]}} <br>
                            {{result["end_time"]}} <br>
                            {{result["days_of_week"]}} <br>
                        </div>
                    </a>
                </div>
            {% endfor %}
    </div>
    <div class="col-md-7">
        <div class="row">
            <form method="POST" action="/loadCourse/">
                <p>Search classes by Course ID: <input type="text" name="name"></p>
            </form>
        </div>
        <div class="row">
            <form method="POST" action="/loadFriend/">
                <p>Search classes by Friends's email: <input type="text" name="name"></p>
            </form>
        </div>
        <div class="row">
            <form method="POST" action="/loadProfessor/">
                <p>Search classes by Prof ID: <input type="text" name="name"></p>
            </form>
        </div>
  </div>

  <div>
    
  </div>



{% endblock %}