{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-5">

        <div class = "page-header">
            Your Classes
        </div>
        {% for result in classes %}
            <div class="row">
                <a class="no-underline" href = "{{url_for('classID', classID=result['class_id'])}}" >
                    <div class="class-preview">
                        {{result["course_name"]}} <br>
                        {{result["course_id"]}} <br>
                        {{result["semester_id"]}} <br>
                        {{result["professor_name"]}} <br>
                        {{result["start_time"]}} <br>
                        {{result["end_time"]}} <br>
                        {{result["days_of_week"]}} <br>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-7">
        <div class = "page-header">
            Search Classes
        </div>
        <div class="row">
            <div class = "col-md-12">
                {% with messages = get_flashed_messages() %}  
                    {% if messages %}  
                        {% for message in messages %}  
                            <div>{{ message }}</div>
                        {% endfor %}  
                    {% endif %}  
                {% endwith %} 
                <br>
           
                <form method="POST" action="{{url_for('searchCourse')}}">
                    <input type="hidden" name = "source" value = "schedule">
                    <p>Search classes by name: <input type="text" name="name"> <input type="submit" value="Add"></p>
                </form>
                <form method="POST" action="{{url_for('searchProfessor')}}/">
                    <input type="hidden" name = "source" value = "schedule">
                    <p>Search classes by professor: <input type="text" name="name"> <input type="submit" value="Add"></p>
                </form>
                <form method="POST" action="{{url_for('searchStudent')}}">
                    <input type="hidden" name = "source" value = "schedule">
                    <p>Search classes by friends: <input type="text" name="name"> <input type="submit" value="Add"></p>
                </form>
                <form method="POST" action="{{url_for('searchMajor')}}">
                    <input type="hidden" name = "source" value = "schedule">
                    <p>Search classes by major: <input type="text" name="name"> <input type="submit" value="Add"></p>
                </form>
            </div>
        </div>
        <div class="row">
            Search results go here
        </div>
    </div>
  </div>

  <div>
    
  </div>



{% endblock %}