{% extends "base.html" %}

{% block content %}

<div class = "page-header">
    Semesters
</div>
<div class="row">
    <div class="col-md-5">
        

        <div class = "row">
            <div class = "col-md-12 class-list">
                {% for result in semesters %}
                <div class="row">
                    <a class="no-underline"href = "{{url_for('semesterID', semesterID=result['semester_id'])}}" >
                        <div class="class-preview">
                            {{result["semester_id"]}}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>
  </div>




{% endblock %}